<div class= "container col-5">
  <h1>Edit Star's profile</h1>
  <div class="form">
    <%= simple_form_for(@star) do |f| %>
      <%= f.input :name %>
      <%= f.input :city %>
      <%= f.input :category %>
      <%= f.input :price %>
      <%= f.input :gender, collection: ["Male", "Female", "Other"]%>
      <%= f.input :size, collection: 120..220%>
      <%= f.input :photo, as: :file, input_html: { multiple: true } %>
      <%= f.button :submit, class: "btn btn-gradient"%>
    <% end %>
  </div>
</div>
