
<div class="filter footer footer-margin<%= "-filter" if local_assigns.fetch(:filter, false) %>">
    <%= link_to "City", "#", class: "btn btn-ghost" %>
    <%= link_to "Category", "#", class: "btn btn-ghost" %>
    <%= link_to "Price", "#", class: "btn btn-ghost" %>
    <%= link_to "Gender", "#", class: "btn btn-ghost" %>
    <%= link_to "Size", "#", class: "btn btn-ghost" %>
</div>

<div id ='container-index'>
  <div class="cards">
    <% @stars.each do |star| %>
        <div class="card-trip">
          <%= link_to star_path(star), data: { turbolinks: false } do%>
            <img src="<%= cl_image_path star.photos.first.key, height: 300, width: 400, :crop => :thumb, :gravity => :face %>" />
            <div class="card-trip-infos">
              <div>
                <h2 id="link"><%= star.name %></h2>
                <p id="link"><%= star.category %></p>
              </div>
              <h2 class="card-trip-pricing" id="link-2"><%= star.price %>€</h2>
            </div>
          <% end %>
        </div>
    <% end %>
  </div>

  <div id='map'
    style="width: 40%;
    height: 70vh;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>





