<div class = "container mt-4">

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @star.photo.key, height: 300, width: 400, crop: :fill %>')">
    <%= @star.name %>
  </div>

  <div class="edit-star">
    <%= link_to "", star_path, method: :delete, data: {:confirm => 'Are you sure?'}, :class => "far fa-trash-alt" %>
    <%= link_to "Edit", edit_star_path %>
  </div>


  <div class = "container-star mt-4">
    <div class ="box">
      <ul>
        <li>Name : <%= @star.name %></li>
      </ul>
      <p></p>

    </div>

    <div class ="box">
      <div class="container padded">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">

            <%= simple_form_for [@star, @booking] do |f| %>
              <%= f.error_notification %>
              <%= f.input :from %>
              <%= f.input :to %>
              <div class="btn-nav">
                <input type="submit" name="commit" value="Book this star" class="btn-nav" data-disable-with="Book this star" style="border: none !important; color: hotpink; z-index: 5;">
                  <svg width="277" height="62">
                    <defs>
                        <linearGradient id="grad1">
                            <stop offset="0%" stop-color="#FF8282"/>
                            <stop offset="100%" stop-color="#E178ED" />
                        </linearGradient>
                    </defs>
                     <rect x="5" y="5" rx="25" fill="none" stroke="url(#grad1)" width="266" height="50"></rect>
                  </svg>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 class ="mt-4">Reviews</h3>




</div>



  <div class="container padded">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">

        <%= simple_form_for [@star,@booking] do |f| %>
          <%= f.error_notification %>
          <%= f.input :from %>
          <%= f.input :to %>
          <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
