<div id="banner-edit-or-delete">
    <div class="notification-actions">
      <%= link_to " Edit", edit_star_path, :class => "fas fa-pencil-alt" %>
      <%= link_to " Delete", star_path, method: :delete, data: {:confirm => 'Are you sure?'}, :class => "fas fa-trash-alt" %>
    </div>
</div>

<div class = "container mt-4">

<!--   <div class="row"> -->

    <div class = "container-star-booking">





      <div class ="box col-8">
        <h1><%= @star.name %></h1>
<!--       <div class = "container-star"> -->
        <div id="carouselExampleIndicators" class="carousel slide w-75 p-3" data-ride="carousel">
          <ol class="carousel-indicators">
            <% @star.photos.each_with_index do |photo, i| %>
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="<%= 'active' if i == 0 %>"></li>
            <% end %>
          </ol>
          <div class="carousel-inner">
            <% @star.photos.each_with_index do |photo, i| %>
              <div class="carousel-item <%= 'active' if i == 0 %>">
                <img class="d-block w-100" src="<%= cl_image_path photo.key, height: 300, width: 300, crop: :fill %>" alt="First slide">
              </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

          <div class="stars d-flex justify-content-center">
            <% count = 0 %>
            <% sum = 0 %>
            <% @reviews.each do |review| %>
              <% sum += review.note %>
              <% count += 1 %>
            <% end %>
            <% result = sum.fdiv(count).round.to_i %>
            <div class="stars d-flex justify-content-right">
              <% result.times do  %>
                <div><i class="fas fa-star" style="color: #FFEB3B"></i></div>
              <% end %>
              <% (5 - result).times do %>
                <div><i class="fas fa-star" style="color: #eaeaea"></i></div>
              <% end %>
              <p>(<%= count %> votes)</p>
            </div>
          </div>

        <ul id="star-description">
          <li>Category : <%= @star.category %></li>
          <li>City : <%= @star.city %></li>
          <li>Gender : <%= @star.gender %></li>
          <li>Size : <%= @star.size %></li>
          <li>Price : <%= @star.price %>€</li>
        </ul>
      </div>
<!--       </div>
 -->









      <div class ="box-booking col-4">
        <h5>Let's book your star 🚀</h5>
        <div class="container padded">
          <div class="row">

            <div class="col-xs-10 col-xs-offset-1">

              <%= simple_form_for [@star, @booking] do |f| %>
                <%= f.error_notification %>
                <%= f.input :from, as: :date, html5: true %>
                <%= f.input :to, as: :date, html5: true %>

                <div class="btn-nav">
                  <input type="submit" name="commit" value="Book this star" class="btn-nav" data-disable-with="Book this star" style="border: none !important; color: hotpink; z-index: 5;">
                    <svg width="277" height="62">
                      <defs>
                          <linearGradient id="grad1">
                              <stop offset="0%" stop-color="#FF8282"/>
                              <stop offset="100%" stop-color="#E178ED" />
                          </linearGradient>
                      </defs>
                       <rect x="5" y="5" rx="25" fill="none" stroke="url(#grad1)" width="266" height="50"></rect>
                    </svg>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>

<!--   </div> -->



  <h3 class ="mt-4">Reviews</h3>
  <div class ="box-reviews">
      <% @reviews.each do |review| %>
        <div class="notification">
          <img src="<%= cl_image_path review.user.photo.key%>" class="avatar-large" />
          <div class="notification-content">
            <p>
              <div class="stars d-flex justify-content-right">
                <% review.note.times do  %>
                  <div><i class="fas fa-star" style="color: #FFEB3B"></i></div>
                <% end %>
                <% (5 - review.note).times do %>
                  <div><i class="fas fa-star" style="color: #eaeaea"></i></div>
                <% end %>
              </div>
            </p>
            <p><%= review.user.first_name %> <%= review.user.last_name %></p>
            <p><small><%= review.description %> </small></p>
          </div>
          <div class="notification-actions">
            <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
            <a href="#">Delete <i class="far fa-trash-alt"></i></a>
          </div>
        </div>
      <% end %>
  </div>

</div>

