<div class = "container">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @star.photo.key, height: 300, width: 400, crop: :fill %>')">
    <%= @star.name %>
  </div>
  <%= link_to "", star_path, method: :delete, data: {:confirm => 'Are you sure?'}, :class => "far fa-trash-alt" %>
  <%= link_to "Edit", edit_star_path %>
   <h1><button class="btn btn-ghost"> <%= link_to 'Book your Star', new_star_booking_path(@star) %> </button></h1>
  <h3>Reviews</h3>



</div>



  <div class="container padded">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">

        <%= simple_form_for [@star,@booking] do |f| %>
          <%= f.error_notification %>
          <%= f.input :from %>
          <%= f.input :to %>
          <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
