<div id ='container-index'>
    <div class="card" id="flex-index">
      <% @bookings.each_with_index do |booking, i| %>
        <div class="accordion w-50" id="accordionExample">
          <div class="card-product-index">

            <img src="<%= cl_image_path booking.star.photos.first.key, height: 300, width: 400, crop: :fill  %>" />

            <div class="card-product-infos w-100 px-5 py-3">
                <h2><%= link_to booking.star.name, star_path(booking.star)%></h2>
                <p><%= booking.star.category %></p>

<!--                             <div class="card-header" id="headingOne"> -->
                      <h2 class="mb-0">

                        <%= link_to "#", class: "btn btn-flat mb-4", data: {toggle: 'collapse', target: "#collapse#{i}"}, aria: {expanded: "true", controls: "collapse#{i}"} do %>
                            your Feedack
                        <% end %>
                      </h2>
                  <!--   </div> -->

                  <div id="collapse<%= i %>" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
                   <div style="color:white;" class="container padded p-0">
                         <%= simple_form_for([booking, @review]) do |f| %>
                           <%= f.error_notification %>
                           <%= f.hidden_field :star, value: @star %>
                           <%= f.input :description, :input_html => {:rows => 1} , placeholder: "Description" %>
                           <div class="form-group d-flex align-items-center">
                             <%= f.input :note , collection: 0..5, placeholder: "Note", class: "mr-2"%>
                             <%= f.button :submit,class: "btn" %>
                           </div>
                         <% end %>
                   </div>
                  </div>

               </div>


             </div>

          </div>
       <% end %>
   </div>
  </div>



