<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @star.photo.key %>');">


  <div class="container padded">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">

        <%= simple_form_for [@star, @booking] do |f| %>
          <%= f.error_notification %>
          <%= f.input :from %>
          <%= f.input :to %>
          <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>

      </div>
    </div>
  </div>



</div>
