<div class="container align-bottom" >

  <div class="card-trip">
   <img src="<%= cl_image_path @booking.star.photos.first.key %>">
    <div class="card-trip-infos">
      <div>
        <h3><%= @booking.from %> </h3>
        <h2><%= current_user.first_name %> a passé <%= @booking.time %> jours avec <%= @booking.star.name %></h2>
      </div>

      <div>
        <h1><button class="btn btn-ghost"> <%= link_to 'Share pictures', new_booking_review_path(@booking) %> </button></h1>
      </div>

      <div>
        <h1><button class="btn btn-ghost"> <%= link_to 'Add a review', new_booking_review_path(@booking) %> </button></h1>
      </div>
      <div>

      </div>
    </div>
  </div>

</div>



