<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
<<<<<<< HEAD
  <%= link_to stars_path, class: "navbar-brand", data: { turbolinks: false } do %>
    <%= image_tag "https://banner2.cleanpng.com/20180409/dge/kisspng-cocktail-margarita-computer-icons-beer-martini-snack-5acbc9c53d6788.3928828315233049012515.jpg" %>
=======
  <%= link_to stars_path, class: "navbar-brand" do %>
  <%= image_tag "logo.png", alt: "logo", width: 64, height: 64 %>
>>>>>>> master
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <%= simple_form_for :search, url: stars_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="search[name]" id="search_name" />
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  <% end %>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-large dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <div id="connection">
          <div>
            <%= link_to "Connection", new_user_session_url %>
          </div>
          <div>
            <%= link_to "Sign Up", new_user_registration_path %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

