<<<<<<< HEAD
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= simple_form_for :filter, url: stars_path, method: :get do |f| %>
<%= f.input :city %>
<%= f.input :category %>
<%= f.submit %>
<% end %>
=======
<div class= "container col-5">
  <h1>Welcome to Adopt a Star</h1>
  <div class="form">
    <%= simple_form_for :search, url: stars_path, method: :get do |f| %>
      <%= f.input :city %>
      <%= f.input :category %>
      <%= f.button :submit, class: "btn btn-gradient"%>
    <% end %>
  </div>
</div>
>>>>>>> master
