<div class="card picture-cocktail"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= picture_url %>')">
  <div class="card-description"><h2><%= @cocktail.name %></h2>
  <% @cocktail.doses.each do |dose| %>
    <ul>
      <li class="list-inline">
        <%= dose.ingredient.name %> | <%= dose.description %>
        <%= link_to cocktail_path(@cocktail),
              method: :delete,
              data: {confirm: "Are you sure?"} do %>
          <i class="fa fa-trash-o pull-right"></i>
        <% end %>
      </li>
    </ul>
  <% end %>
  </div>
</div>
